<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>r00</key>
	<string>r00.glif</string>
	<key>r01</key>
	<string>r01.glif</string>
	<key>r02</key>
	<string>r02.glif</string>
	<key>r03</key>
	<string>r03.glif</string>
	<key>r04</key>
	<string>r04.glif</string>
	<key>r05</key>
	<string>r05.glif</string>
	<key>r06</key>
	<string>r06.glif</string>
	<key>r07</key>
	<string>r07.glif</string>
	<key>r08</key>
	<string>r08.glif</string>
	<key>r09</key>
	<string>r09.glif</string>
	<key>r0A</key>
	<string>r0A_.glif</string>
	<key>r0B</key>
	<string>r0B_.glif</string>
	<key>r0C</key>
	<string>r0C_.glif</string>
	<key>r0D</key>
	<string>r0D_.glif</string>
	<key>r0E</key>
	<string>r0E_.glif</string>
	<key>r0F</key>
	<string>r0F_.glif</string>
	<key>r10</key>
	<string>r10.glif</string>
	<key>r11</key>
	<string>r11.glif</string>
	<key>r12</key>
	<string>r12.glif</string>
	<key>r13</key>
	<string>r13.glif</string>
	<key>r14</key>
	<string>r14.glif</string>
	<key>r15</key>
	<string>r15.glif</string>
	<key>r16</key>
	<string>r16.glif</string>
	<key>r17</key>
	<string>r17.glif</string>
	<key>r18</key>
	<string>r18.glif</string>
	<key>r19</key>
	<string>r19.glif</string>
	<key>r1A</key>
	<string>r1A_.glif</string>
	<key>r1B</key>
	<string>r1B_.glif</string>
	<key>r1C</key>
	<string>r1C_.glif</string>
	<key>r1D</key>
	<string>r1D_.glif</string>
	<key>r1E</key>
	<string>r1E_.glif</string>
	<key>r1F</key>
	<string>r1F_.glif</string>
	<key>r20</key>
	<string>r20.glif</string>
	<key>r21</key>
	<string>r21.glif</string>
	<key>r22</key>
	<string>r22.glif</string>
	<key>r23</key>
	<string>r23.glif</string>
	<key>r24</key>
	<string>r24.glif</string>
	<key>r25</key>
	<string>r25.glif</string>
	<key>r26</key>
	<string>r26.glif</string>
	<key>r27</key>
	<string>r27.glif</string>
	<key>r28</key>
	<string>r28.glif</string>
	<key>r29</key>
	<string>r29.glif</string>
	<key>r2A</key>
	<string>r2A_.glif</string>
	<key>r2B</key>
	<string>r2B_.glif</string>
	<key>r2C</key>
	<string>r2C_.glif</string>
	<key>r2D</key>
	<string>r2D_.glif</string>
	<key>r2E</key>
	<string>r2E_.glif</string>
	<key>r2F</key>
	<string>r2F_.glif</string>
	<key>r30</key>
	<string>r30.glif</string>
	<key>r31</key>
	<string>r31.glif</string>
	<key>r32</key>
	<string>r32.glif</string>
	<key>r33</key>
	<string>r33.glif</string>
	<key>r34</key>
	<string>r34.glif</string>
	<key>r35</key>
	<string>r35.glif</string>
	<key>r36</key>
	<string>r36.glif</string>
	<key>r37</key>
	<string>r37.glif</string>
	<key>r38</key>
	<string>r38.glif</string>
	<key>r39</key>
	<string>r39.glif</string>
	<key>r3A</key>
	<string>r3A_.glif</string>
	<key>r3B</key>
	<string>r3B_.glif</string>
	<key>r3C</key>
	<string>r3C_.glif</string>
	<key>r3D</key>
	<string>r3D_.glif</string>
	<key>r3E</key>
	<string>r3E_.glif</string>
	<key>r3F</key>
	<string>r3F_.glif</string>
	<key>r40</key>
	<string>r40.glif</string>
	<key>r41</key>
	<string>r41.glif</string>
	<key>r42</key>
	<string>r42.glif</string>
	<key>r43</key>
	<string>r43.glif</string>
	<key>r44</key>
	<string>r44.glif</string>
	<key>r45</key>
	<string>r45.glif</string>
	<key>r46</key>
	<string>r46.glif</string>
	<key>r47</key>
	<string>r47.glif</string>
	<key>r48</key>
	<string>r48.glif</string>
	<key>r49</key>
	<string>r49.glif</string>
	<key>r4A</key>
	<string>r4A_.glif</string>
	<key>r4B</key>
	<string>r4B_.glif</string>
	<key>r4C</key>
	<string>r4C_.glif</string>
	<key>r4D</key>
	<string>r4D_.glif</string>
	<key>r4E</key>
	<string>r4E_.glif</string>
	<key>r4F</key>
	<string>r4F_.glif</string>
	<key>r50</key>
	<string>r50.glif</string>
	<key>r51</key>
	<string>r51.glif</string>
	<key>r52</key>
	<string>r52.glif</string>
	<key>r53</key>
	<string>r53.glif</string>
	<key>r54</key>
	<string>r54.glif</string>
	<key>r55</key>
	<string>r55.glif</string>
	<key>r56</key>
	<string>r56.glif</string>
	<key>r57</key>
	<string>r57.glif</string>
	<key>r58</key>
	<string>r58.glif</string>
	<key>r59</key>
	<string>r59.glif</string>
	<key>r5A</key>
	<string>r5A_.glif</string>
	<key>r5B</key>
	<string>r5B_.glif</string>
	<key>r5C</key>
	<string>r5C_.glif</string>
	<key>r5D</key>
	<string>r5D_.glif</string>
	<key>r5E</key>
	<string>r5E_.glif</string>
	<key>r5F</key>
	<string>r5F_.glif</string>
	<key>r60</key>
	<string>r60.glif</string>
	<key>r61</key>
	<string>r61.glif</string>
	<key>r62</key>
	<string>r62.glif</string>
	<key>r63</key>
	<string>r63.glif</string>
	<key>r64</key>
	<string>r64.glif</string>
	<key>r65</key>
	<string>r65.glif</string>
	<key>r66</key>
	<string>r66.glif</string>
	<key>r67</key>
	<string>r67.glif</string>
	<key>r68</key>
	<string>r68.glif</string>
	<key>r69</key>
	<string>r69.glif</string>
	<key>r6A</key>
	<string>r6A_.glif</string>
	<key>r6B</key>
	<string>r6B_.glif</string>
	<key>r6C</key>
	<string>r6C_.glif</string>
	<key>r6D</key>
	<string>r6D_.glif</string>
	<key>r6E</key>
	<string>r6E_.glif</string>
	<key>r6F</key>
	<string>r6F_.glif</string>
	<key>r70</key>
	<string>r70.glif</string>
	<key>r71</key>
	<string>r71.glif</string>
	<key>r72</key>
	<string>r72.glif</string>
	<key>r73</key>
	<string>r73.glif</string>
	<key>r74</key>
	<string>r74.glif</string>
	<key>r75</key>
	<string>r75.glif</string>
	<key>r76</key>
	<string>r76.glif</string>
	<key>r77</key>
	<string>r77.glif</string>
	<key>r78</key>
	<string>r78.glif</string>
	<key>r79</key>
	<string>r79.glif</string>
	<key>r7A</key>
	<string>r7A_.glif</string>
	<key>r7B</key>
	<string>r7B_.glif</string>
	<key>r7C</key>
	<string>r7C_.glif</string>
	<key>r7D</key>
	<string>r7D_.glif</string>
	<key>r7E</key>
	<string>r7E_.glif</string>
	<key>r7F</key>
	<string>r7F_.glif</string>
	<key>r80</key>
	<string>r80.glif</string>
	<key>r81</key>
	<string>r81.glif</string>
	<key>r82</key>
	<string>r82.glif</string>
	<key>r83</key>
	<string>r83.glif</string>
	<key>r84</key>
	<string>r84.glif</string>
	<key>r85</key>
	<string>r85.glif</string>
	<key>r86</key>
	<string>r86.glif</string>
	<key>r87</key>
	<string>r87.glif</string>
	<key>r88</key>
	<string>r88.glif</string>
	<key>r89</key>
	<string>r89.glif</string>
	<key>r8A</key>
	<string>r8A_.glif</string>
	<key>r8B</key>
	<string>r8B_.glif</string>
	<key>r8C</key>
	<string>r8C_.glif</string>
	<key>r8D</key>
	<string>r8D_.glif</string>
	<key>r8E</key>
	<string>r8E_.glif</string>
	<key>r8F</key>
	<string>r8F_.glif</string>
	<key>r90</key>
	<string>r90.glif</string>
	<key>r91</key>
	<string>r91.glif</string>
	<key>r92</key>
	<string>r92.glif</string>
	<key>r93</key>
	<string>r93.glif</string>
	<key>r94</key>
	<string>r94.glif</string>
	<key>r95</key>
	<string>r95.glif</string>
	<key>r96</key>
	<string>r96.glif</string>
	<key>r97</key>
	<string>r97.glif</string>
	<key>r98</key>
	<string>r98.glif</string>
	<key>r99</key>
	<string>r99.glif</string>
	<key>r9A</key>
	<string>r9A_.glif</string>
	<key>r9B</key>
	<string>r9B_.glif</string>
	<key>r9C</key>
	<string>r9C_.glif</string>
	<key>r9D</key>
	<string>r9D_.glif</string>
	<key>r9E</key>
	<string>r9E_.glif</string>
	<key>r9F</key>
	<string>r9F_.glif</string>
	<key>rA0</key>
	<string>rA_0.glif</string>
	<key>rA1</key>
	<string>rA_1.glif</string>
	<key>rA2</key>
	<string>rA_2.glif</string>
	<key>rA3</key>
	<string>rA_3.glif</string>
	<key>rA4</key>
	<string>rA_4.glif</string>
	<key>rA5</key>
	<string>rA_5.glif</string>
	<key>rA6</key>
	<string>rA_6.glif</string>
	<key>rA7</key>
	<string>rA_7.glif</string>
	<key>rA8</key>
	<string>rA_8.glif</string>
	<key>rA9</key>
	<string>rA_9.glif</string>
	<key>rAA</key>
	<string>rA_A_.glif</string>
	<key>rAB</key>
	<string>rA_B_.glif</string>
	<key>rAC</key>
	<string>rA_C_.glif</string>
	<key>rAD</key>
	<string>rA_D_.glif</string>
	<key>rAE</key>
	<string>rA_E_.glif</string>
	<key>rAF</key>
	<string>rA_F_.glif</string>
	<key>rB0</key>
	<string>rB_0.glif</string>
	<key>rB1</key>
	<string>rB_1.glif</string>
	<key>rB2</key>
	<string>rB_2.glif</string>
	<key>rB3</key>
	<string>rB_3.glif</string>
	<key>rB4</key>
	<string>rB_4.glif</string>
	<key>rB5</key>
	<string>rB_5.glif</string>
	<key>rB6</key>
	<string>rB_6.glif</string>
	<key>rB7</key>
	<string>rB_7.glif</string>
	<key>rB8</key>
	<string>rB_8.glif</string>
	<key>rB9</key>
	<string>rB_9.glif</string>
	<key>rBA</key>
	<string>rB_A_.glif</string>
	<key>rBB</key>
	<string>rB_B_.glif</string>
	<key>rBC</key>
	<string>rB_C_.glif</string>
	<key>rBD</key>
	<string>rB_D_.glif</string>
	<key>rBE</key>
	<string>rB_E_.glif</string>
	<key>rBF</key>
	<string>rB_F_.glif</string>
	<key>rC0</key>
	<string>rC_0.glif</string>
	<key>rC1</key>
	<string>rC_1.glif</string>
	<key>rC2</key>
	<string>rC_2.glif</string>
	<key>rC3</key>
	<string>rC_3.glif</string>
	<key>rC4</key>
	<string>rC_4.glif</string>
	<key>rC5</key>
	<string>rC_5.glif</string>
	<key>rC6</key>
	<string>rC_6.glif</string>
	<key>rC7</key>
	<string>rC_7.glif</string>
	<key>rC8</key>
	<string>rC_8.glif</string>
	<key>rC9</key>
	<string>rC_9.glif</string>
	<key>rCA</key>
	<string>rC_A_.glif</string>
	<key>rCB</key>
	<string>rC_B_.glif</string>
	<key>rCC</key>
	<string>rC_C_.glif</string>
	<key>rCD</key>
	<string>rC_D_.glif</string>
	<key>rCE</key>
	<string>rC_E_.glif</string>
	<key>rCF</key>
	<string>rC_F_.glif</string>
	<key>rD0</key>
	<string>rD_0.glif</string>
	<key>rD1</key>
	<string>rD_1.glif</string>
	<key>rD2</key>
	<string>rD_2.glif</string>
	<key>rD3</key>
	<string>rD_3.glif</string>
	<key>rD4</key>
	<string>rD_4.glif</string>
	<key>rD5</key>
	<string>rD_5.glif</string>
	<key>rD6</key>
	<string>rD_6.glif</string>
	<key>rD7</key>
	<string>rD_7.glif</string>
	<key>rD8</key>
	<string>rD_8.glif</string>
	<key>rD9</key>
	<string>rD_9.glif</string>
	<key>rDA</key>
	<string>rD_A_.glif</string>
	<key>rDB</key>
	<string>rD_B_.glif</string>
	<key>rDC</key>
	<string>rD_C_.glif</string>
	<key>rDD</key>
	<string>rD_D_.glif</string>
	<key>rDE</key>
	<string>rD_E_.glif</string>
	<key>rDF</key>
	<string>rD_F_.glif</string>
	<key>rE0</key>
	<string>rE_0.glif</string>
	<key>rE1</key>
	<string>rE_1.glif</string>
	<key>rE2</key>
	<string>rE_2.glif</string>
	<key>rE3</key>
	<string>rE_3.glif</string>
	<key>rE4</key>
	<string>rE_4.glif</string>
	<key>rE5</key>
	<string>rE_5.glif</string>
	<key>rE6</key>
	<string>rE_6.glif</string>
	<key>rE7</key>
	<string>rE_7.glif</string>
	<key>rE8</key>
	<string>rE_8.glif</string>
	<key>rE9</key>
	<string>rE_9.glif</string>
	<key>rEA</key>
	<string>rE_A_.glif</string>
	<key>rEB</key>
	<string>rE_B_.glif</string>
	<key>rEC</key>
	<string>rE_C_.glif</string>
	<key>rED</key>
	<string>rE_D_.glif</string>
	<key>rEE</key>
	<string>rE_E_.glif</string>
	<key>rEF</key>
	<string>rE_F_.glif</string>
	<key>rF0</key>
	<string>rF_0.glif</string>
	<key>rF1</key>
	<string>rF_1.glif</string>
	<key>rF2</key>
	<string>rF_2.glif</string>
	<key>rF3</key>
	<string>rF_3.glif</string>
	<key>rF4</key>
	<string>rF_4.glif</string>
	<key>rF5</key>
	<string>rF_5.glif</string>
	<key>rF6</key>
	<string>rF_6.glif</string>
	<key>rF7</key>
	<string>rF_7.glif</string>
	<key>rF8</key>
	<string>rF_8.glif</string>
	<key>rF9</key>
	<string>rF_9.glif</string>
	<key>rFA</key>
	<string>rF_A_.glif</string>
	<key>rFB</key>
	<string>rF_B_.glif</string>
	<key>rFC</key>
	<string>rF_C_.glif</string>
	<key>rFD</key>
	<string>rF_D_.glif</string>
	<key>rFE</key>
	<string>rF_E_.glif</string>
	<key>rFF</key>
	<string>rF_F_.glif</string>
	<key>u00</key>
	<string>u00.glif</string>
	<key>u01</key>
	<string>u01.glif</string>
	<key>u02</key>
	<string>u02.glif</string>
	<key>u03</key>
	<string>u03.glif</string>
	<key>u04</key>
	<string>u04.glif</string>
	<key>u05</key>
	<string>u05.glif</string>
	<key>u06</key>
	<string>u06.glif</string>
	<key>u07</key>
	<string>u07.glif</string>
	<key>u08</key>
	<string>u08.glif</string>
	<key>u09</key>
	<string>u09.glif</string>
	<key>u0A</key>
	<string>u0A_.glif</string>
	<key>u0B</key>
	<string>u0B_.glif</string>
	<key>u0C</key>
	<string>u0C_.glif</string>
	<key>u0D</key>
	<string>u0D_.glif</string>
	<key>u0E</key>
	<string>u0E_.glif</string>
	<key>u0F</key>
	<string>u0F_.glif</string>
	<key>u10</key>
	<string>u10.glif</string>
	<key>u11</key>
	<string>u11.glif</string>
	<key>u12</key>
	<string>u12.glif</string>
	<key>u13</key>
	<string>u13.glif</string>
	<key>u14</key>
	<string>u14.glif</string>
	<key>u15</key>
	<string>u15.glif</string>
	<key>u16</key>
	<string>u16.glif</string>
	<key>u17</key>
	<string>u17.glif</string>
	<key>u18</key>
	<string>u18.glif</string>
	<key>u19</key>
	<string>u19.glif</string>
	<key>u1A</key>
	<string>u1A_.glif</string>
	<key>u1B</key>
	<string>u1B_.glif</string>
	<key>u1C</key>
	<string>u1C_.glif</string>
	<key>u1D</key>
	<string>u1D_.glif</string>
	<key>u1E</key>
	<string>u1E_.glif</string>
	<key>u1F</key>
	<string>u1F_.glif</string>
	<key>u20</key>
	<string>u20.glif</string>
	<key>u21</key>
	<string>u21.glif</string>
	<key>u22</key>
	<string>u22.glif</string>
	<key>u23</key>
	<string>u23.glif</string>
	<key>u24</key>
	<string>u24.glif</string>
	<key>u25</key>
	<string>u25.glif</string>
	<key>u26</key>
	<string>u26.glif</string>
	<key>u27</key>
	<string>u27.glif</string>
	<key>u28</key>
	<string>u28.glif</string>
	<key>u29</key>
	<string>u29.glif</string>
	<key>u2A</key>
	<string>u2A_.glif</string>
	<key>u2B</key>
	<string>u2B_.glif</string>
	<key>u2C</key>
	<string>u2C_.glif</string>
	<key>u2D</key>
	<string>u2D_.glif</string>
	<key>u2E</key>
	<string>u2E_.glif</string>
	<key>u2F</key>
	<string>u2F_.glif</string>
	<key>u30</key>
	<string>u30.glif</string>
	<key>u31</key>
	<string>u31.glif</string>
	<key>u32</key>
	<string>u32.glif</string>
	<key>u33</key>
	<string>u33.glif</string>
	<key>u34</key>
	<string>u34.glif</string>
	<key>u35</key>
	<string>u35.glif</string>
	<key>u36</key>
	<string>u36.glif</string>
	<key>u37</key>
	<string>u37.glif</string>
	<key>u38</key>
	<string>u38.glif</string>
	<key>u39</key>
	<string>u39.glif</string>
	<key>u3A</key>
	<string>u3A_.glif</string>
	<key>u3B</key>
	<string>u3B_.glif</string>
	<key>u3C</key>
	<string>u3C_.glif</string>
	<key>u3D</key>
	<string>u3D_.glif</string>
	<key>u3E</key>
	<string>u3E_.glif</string>
	<key>u3F</key>
	<string>u3F_.glif</string>
	<key>u40</key>
	<string>u40.glif</string>
	<key>u41</key>
	<string>u41.glif</string>
	<key>u42</key>
	<string>u42.glif</string>
	<key>u43</key>
	<string>u43.glif</string>
	<key>u44</key>
	<string>u44.glif</string>
	<key>u45</key>
	<string>u45.glif</string>
	<key>u46</key>
	<string>u46.glif</string>
	<key>u47</key>
	<string>u47.glif</string>
	<key>u48</key>
	<string>u48.glif</string>
	<key>u49</key>
	<string>u49.glif</string>
	<key>u4A</key>
	<string>u4A_.glif</string>
	<key>u4B</key>
	<string>u4B_.glif</string>
	<key>u4C</key>
	<string>u4C_.glif</string>
	<key>u4D</key>
	<string>u4D_.glif</string>
	<key>u4E</key>
	<string>u4E_.glif</string>
	<key>u4F</key>
	<string>u4F_.glif</string>
	<key>u50</key>
	<string>u50.glif</string>
	<key>u51</key>
	<string>u51.glif</string>
	<key>u52</key>
	<string>u52.glif</string>
	<key>u53</key>
	<string>u53.glif</string>
	<key>u54</key>
	<string>u54.glif</string>
	<key>u55</key>
	<string>u55.glif</string>
	<key>u56</key>
	<string>u56.glif</string>
	<key>u57</key>
	<string>u57.glif</string>
	<key>u58</key>
	<string>u58.glif</string>
	<key>u59</key>
	<string>u59.glif</string>
	<key>u5A</key>
	<string>u5A_.glif</string>
	<key>u5B</key>
	<string>u5B_.glif</string>
	<key>u5C</key>
	<string>u5C_.glif</string>
	<key>u5D</key>
	<string>u5D_.glif</string>
	<key>u5E</key>
	<string>u5E_.glif</string>
	<key>u5F</key>
	<string>u5F_.glif</string>
	<key>u60</key>
	<string>u60.glif</string>
	<key>u61</key>
	<string>u61.glif</string>
	<key>u62</key>
	<string>u62.glif</string>
	<key>u63</key>
	<string>u63.glif</string>
	<key>u64</key>
	<string>u64.glif</string>
	<key>u65</key>
	<string>u65.glif</string>
	<key>u66</key>
	<string>u66.glif</string>
	<key>u67</key>
	<string>u67.glif</string>
	<key>u68</key>
	<string>u68.glif</string>
	<key>u69</key>
	<string>u69.glif</string>
	<key>u6A</key>
	<string>u6A_.glif</string>
	<key>u6B</key>
	<string>u6B_.glif</string>
	<key>u6C</key>
	<string>u6C_.glif</string>
	<key>u6D</key>
	<string>u6D_.glif</string>
	<key>u6E</key>
	<string>u6E_.glif</string>
	<key>u6F</key>
	<string>u6F_.glif</string>
	<key>u70</key>
	<string>u70.glif</string>
	<key>u71</key>
	<string>u71.glif</string>
	<key>u72</key>
	<string>u72.glif</string>
	<key>u73</key>
	<string>u73.glif</string>
	<key>u74</key>
	<string>u74.glif</string>
	<key>u75</key>
	<string>u75.glif</string>
	<key>u76</key>
	<string>u76.glif</string>
	<key>u77</key>
	<string>u77.glif</string>
	<key>u78</key>
	<string>u78.glif</string>
	<key>u79</key>
	<string>u79.glif</string>
	<key>u7A</key>
	<string>u7A_.glif</string>
	<key>u7B</key>
	<string>u7B_.glif</string>
	<key>u7C</key>
	<string>u7C_.glif</string>
	<key>u7D</key>
	<string>u7D_.glif</string>
	<key>u7E</key>
	<string>u7E_.glif</string>
	<key>u7F</key>
	<string>u7F_.glif</string>
	<key>u80</key>
	<string>u80.glif</string>
	<key>u81</key>
	<string>u81.glif</string>
	<key>u82</key>
	<string>u82.glif</string>
	<key>u83</key>
	<string>u83.glif</string>
	<key>u84</key>
	<string>u84.glif</string>
	<key>u85</key>
	<string>u85.glif</string>
	<key>u86</key>
	<string>u86.glif</string>
	<key>u87</key>
	<string>u87.glif</string>
	<key>u88</key>
	<string>u88.glif</string>
	<key>u89</key>
	<string>u89.glif</string>
	<key>u8A</key>
	<string>u8A_.glif</string>
	<key>u8B</key>
	<string>u8B_.glif</string>
	<key>u8C</key>
	<string>u8C_.glif</string>
	<key>u8D</key>
	<string>u8D_.glif</string>
	<key>u8E</key>
	<string>u8E_.glif</string>
	<key>u8F</key>
	<string>u8F_.glif</string>
	<key>u90</key>
	<string>u90.glif</string>
	<key>u91</key>
	<string>u91.glif</string>
	<key>u92</key>
	<string>u92.glif</string>
	<key>u93</key>
	<string>u93.glif</string>
	<key>u94</key>
	<string>u94.glif</string>
	<key>u95</key>
	<string>u95.glif</string>
	<key>u96</key>
	<string>u96.glif</string>
	<key>u97</key>
	<string>u97.glif</string>
	<key>u98</key>
	<string>u98.glif</string>
	<key>u99</key>
	<string>u99.glif</string>
	<key>u9A</key>
	<string>u9A_.glif</string>
	<key>u9B</key>
	<string>u9B_.glif</string>
	<key>u9C</key>
	<string>u9C_.glif</string>
	<key>u9D</key>
	<string>u9D_.glif</string>
	<key>u9E</key>
	<string>u9E_.glif</string>
	<key>u9F</key>
	<string>u9F_.glif</string>
	<key>uA0</key>
	<string>uA_0.glif</string>
	<key>uA1</key>
	<string>uA_1.glif</string>
	<key>uA2</key>
	<string>uA_2.glif</string>
	<key>uA3</key>
	<string>uA_3.glif</string>
	<key>uA4</key>
	<string>uA_4.glif</string>
	<key>uA5</key>
	<string>uA_5.glif</string>
	<key>uA6</key>
	<string>uA_6.glif</string>
	<key>uA7</key>
	<string>uA_7.glif</string>
	<key>uA8</key>
	<string>uA_8.glif</string>
	<key>uA9</key>
	<string>uA_9.glif</string>
	<key>uAA</key>
	<string>uA_A_.glif</string>
	<key>uAB</key>
	<string>uA_B_.glif</string>
	<key>uAC</key>
	<string>uA_C_.glif</string>
	<key>uAD</key>
	<string>uA_D_.glif</string>
	<key>uAE</key>
	<string>uA_E_.glif</string>
	<key>uAF</key>
	<string>uA_F_.glif</string>
	<key>uB0</key>
	<string>uB_0.glif</string>
	<key>uB1</key>
	<string>uB_1.glif</string>
	<key>uB2</key>
	<string>uB_2.glif</string>
	<key>uB3</key>
	<string>uB_3.glif</string>
	<key>uB4</key>
	<string>uB_4.glif</string>
	<key>uB5</key>
	<string>uB_5.glif</string>
	<key>uB6</key>
	<string>uB_6.glif</string>
	<key>uB7</key>
	<string>uB_7.glif</string>
	<key>uB8</key>
	<string>uB_8.glif</string>
	<key>uB9</key>
	<string>uB_9.glif</string>
	<key>uBA</key>
	<string>uB_A_.glif</string>
	<key>uBB</key>
	<string>uB_B_.glif</string>
	<key>uBC</key>
	<string>uB_C_.glif</string>
	<key>uBD</key>
	<string>uB_D_.glif</string>
	<key>uBE</key>
	<string>uB_E_.glif</string>
	<key>uBF</key>
	<string>uB_F_.glif</string>
	<key>uC0</key>
	<string>uC_0.glif</string>
	<key>uC1</key>
	<string>uC_1.glif</string>
	<key>uC2</key>
	<string>uC_2.glif</string>
	<key>uC3</key>
	<string>uC_3.glif</string>
	<key>uC4</key>
	<string>uC_4.glif</string>
	<key>uC5</key>
	<string>uC_5.glif</string>
	<key>uC6</key>
	<string>uC_6.glif</string>
	<key>uC7</key>
	<string>uC_7.glif</string>
	<key>uC8</key>
	<string>uC_8.glif</string>
	<key>uC9</key>
	<string>uC_9.glif</string>
	<key>uCA</key>
	<string>uC_A_.glif</string>
	<key>uCB</key>
	<string>uC_B_.glif</string>
	<key>uCC</key>
	<string>uC_C_.glif</string>
	<key>uCD</key>
	<string>uC_D_.glif</string>
	<key>uCE</key>
	<string>uC_E_.glif</string>
	<key>uCF</key>
	<string>uC_F_.glif</string>
	<key>uD0</key>
	<string>uD_0.glif</string>
	<key>uD1</key>
	<string>uD_1.glif</string>
	<key>uD2</key>
	<string>uD_2.glif</string>
	<key>uD3</key>
	<string>uD_3.glif</string>
	<key>uD4</key>
	<string>uD_4.glif</string>
	<key>uD5</key>
	<string>uD_5.glif</string>
	<key>uD6</key>
	<string>uD_6.glif</string>
	<key>uD7</key>
	<string>uD_7.glif</string>
	<key>uD8</key>
	<string>uD_8.glif</string>
	<key>uD9</key>
	<string>uD_9.glif</string>
	<key>uDA</key>
	<string>uD_A_.glif</string>
	<key>uDB</key>
	<string>uD_B_.glif</string>
	<key>uDC</key>
	<string>uD_C_.glif</string>
	<key>uDD</key>
	<string>uD_D_.glif</string>
	<key>uDE</key>
	<string>uD_E_.glif</string>
	<key>uDF</key>
	<string>uD_F_.glif</string>
	<key>uE0</key>
	<string>uE_0.glif</string>
	<key>uE1</key>
	<string>uE_1.glif</string>
	<key>uE2</key>
	<string>uE_2.glif</string>
	<key>uE3</key>
	<string>uE_3.glif</string>
	<key>uE4</key>
	<string>uE_4.glif</string>
	<key>uE5</key>
	<string>uE_5.glif</string>
	<key>uE6</key>
	<string>uE_6.glif</string>
	<key>uE7</key>
	<string>uE_7.glif</string>
	<key>uE8</key>
	<string>uE_8.glif</string>
	<key>uE9</key>
	<string>uE_9.glif</string>
	<key>uEA</key>
	<string>uE_A_.glif</string>
	<key>uEB</key>
	<string>uE_B_.glif</string>
	<key>uEC</key>
	<string>uE_C_.glif</string>
	<key>uED</key>
	<string>uE_D_.glif</string>
	<key>uEE</key>
	<string>uE_E_.glif</string>
	<key>uEF</key>
	<string>uE_F_.glif</string>
	<key>uF0</key>
	<string>uF_0.glif</string>
	<key>uF1</key>
	<string>uF_1.glif</string>
	<key>uF2</key>
	<string>uF_2.glif</string>
	<key>uF3</key>
	<string>uF_3.glif</string>
	<key>uF4</key>
	<string>uF_4.glif</string>
	<key>uF5</key>
	<string>uF_5.glif</string>
	<key>uF6</key>
	<string>uF_6.glif</string>
	<key>uF7</key>
	<string>uF_7.glif</string>
	<key>uF8</key>
	<string>uF_8.glif</string>
	<key>uF9</key>
	<string>uF_9.glif</string>
	<key>uFA</key>
	<string>uF_A_.glif</string>
	<key>uFB</key>
	<string>uF_B_.glif</string>
	<key>uFC</key>
	<string>uF_C_.glif</string>
	<key>uFD</key>
	<string>uF_D_.glif</string>
	<key>uFE</key>
	<string>uF_E_.glif</string>
	<key>uFF</key>
	<string>uF_F_.glif</string>
	<key>halfwidth</key>
	<string>halfwidth.glif</string>
</dict>
</plist>
